html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.accent {
    pointer-events: none;
}

#output {
  color: #1e1e1e;
  background-color: #fffbe8;
}

.errors {
  background-color: #584355;
  cursor: ew-resize;
}

/* Responsive cursor style for smaller screens */
@media (max-width: 1023px) { /* Adjust breakpoint as needed for 'md' */
  .errors {
    cursor: ns-resize; /* Vertical resize */
  }
}

.codeflask {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.codeflask, .codeflask * {
  box-sizing: border-box;
}

.codeflask__pre {
  pointer-events: none;
  z-index: 3;
  overflow: hidden;
}

.codeflask__textarea {
  background: none;
  border: none;
  color: #fff;
  z-index: 1;
  resize: none;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  -webkit-appearance: pre;
  appearance: pre;
  caret-color: #111;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.codeflask--has-line-numbers .codeflask__textarea {
  width: calc(100% - 40px);
}

.codeflask__code {
  display: block;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  overflow: hidden;
}

.codeflask__flatten {
  padding: 10px;
  font-size: 13px;
  line-height: 20px;
  white-space: pre;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  margin: 0 !important;
  outline: none;
  text-align: left;
}

.codeflask--has-line-numbers .codeflask__flatten {
  width: calc(100% - 20px);
  left: 20px;
}

.codeflask__line-highlight {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 20px;
  background: rgba(0,0,0,0.1);
  z-index: 1;
}

.codeflask__lines {
  padding: 11px 4px;
  padding-right: 10px;
  font-size: 10px;
  line-height: 20px;
  font-family: 'Cousine', monospace;
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 100%;
  text-align: right;
  color: #999;
  z-index: 2;
}

.codeflask__lines__line {
  display: block;
}

.codeflask.codeflask--has-line-numbers {
  padding-left: 10px;
}

.codeflask.codeflask--has-line-numbers:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 100%;
  background: #eee;
  z-index: 1;
}