---
import SystemOverview from '../components/SystemOverview.svelte';
---

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Overview</title>
  </head>
  <body>
    <div id="system-overview">
      <SystemOverview client:load />
    </div>
  </body>
</html>
